wsit/ws-tx/wstx-services/src/main/webapp/WEB-INF/wsdls/wsat10/wsat.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
(c) 2001-2004 BEA Systems, International Business Machines Corporation, Microsoft Corporation, Inc. All rights reserved.
Permission to copy and display the "Web Services Atomic Transaction" Specification (the "Specification", which includes WSDL and schema documents), in any medium without fee or royalty is hereby granted, provided that you include the following on ALL copies of the "Web Services Atomic Transaction" Specification that you make:
1.  A link or URL to the "Web Services Atomic Transaction" Specification at one of the Authors' websites
2. The copyright notice as shown in the "Web Services Atomic Transaction" Specification.
IBM, Microsoft and BEA (collectively, the "Authors") each agree to grant you a license, under royalty-free and otherwise reasonable, non-discriminatory terms and conditions, to their respective essential patent claims that they deem necessary to implement the "Web Services Atomic Transaction" Specification.
THE "Web Services Atomic Transaction" SPECIFICATION IS PROVIDED "AS IS," AND THE AUTHORS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE "Web Services Atomic Transaction" SPECIFICATION ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
THE AUTHORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THE "Web Services Atomic Transaction" SPECIFICATION.
The name and trademarks of the Authors may NOT be used in any manner, including advertising or publicity pertaining to the "Web Services Atomic Transaction" Specification or its contents without specific, written prior permission. Title to copyright in the "Web Services Atomic Transaction" Specification will at all times remain with the Authors.
No other rights are granted by implication, estoppel or otherwise.
-->

<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        targetNamespace="http://schemas.xmlsoap.org/ws/2004/10/wsat">

    <wsp:Policy wsu:Id="Addressing_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsap:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xs:schema>
            <!--xs:import
                    namespace='http://schemas.xmlsoap.org/ws/2004/08/addressing'
                    schemaLocation='http://schemas.xmlsoap.org/ws/2004/08/addressing'/-->
            <xs:import
                    namespace='http://schemas.xmlsoap.org/ws/2004/08/addressing'
                    schemaLocation='addressing.xsd'/>
            <xs:import
                    namespace='http://schemas.xmlsoap.org/ws/2004/10/wsat'
                    schemaLocation='wsat.xsd'/>
        </xs:schema>
    </wsdl:types>

    <!-- Messages -->
    <wsdl:message name="Prepare">
        <wsdl:part name="parameters" element="wsat:Prepare"/>
    </wsdl:message>
    <wsdl:message name="Prepared">
        <wsdl:part name="parameters" element="wsat:Prepared"/>
    </wsdl:message>
    <wsdl:message name="Aborted">
        <wsdl:part name="parameters" element="wsat:Aborted"/>
    </wsdl:message>
    <wsdl:message name="ReadOnly">
        <wsdl:part name="parameters" element="wsat:ReadOnly"/>
    </wsdl:message>
    <wsdl:message name="Commit">
        <wsdl:part name="parameters" element="wsat:Commit"/>
    </wsdl:message>
    <wsdl:message name="Rollback">
        <wsdl:part name="parameters" element="wsat:Rollback"/>
    </wsdl:message>
    <wsdl:message name="Committed">
        <wsdl:part name="parameters" element="wsat:Committed"/>
    </wsdl:message>
    <wsdl:message name="Replay">
        <wsdl:part name="parameters" element="wsat:Replay"/>
    </wsdl:message>
    <wsdl:message name="PrepareResponse">
        <wsdl:part name="parameters" element="wsat:PrepareResponse"/>
    </wsdl:message>
    <wsdl:message name="ReplayResponse">
        <wsdl:part name="parameters" element="wsat:ReplayResponse"/>
    </wsdl:message>
    <!-- Mandatory Asynchronous Messaging PortTypes -->
    <wsdl:portType name="CompletionCoordinatorPortType">
        <wsdl:operation name="CommitOperation">
            <wsdl:input message="wsat:Commit"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Commit"/>
        </wsdl:operation>
        <wsdl:operation name="RollbackOperation">
            <wsdl:input message="wsat:Rollback"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Rollback"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="CompletionInitiatorPortType">
        <wsdl:operation name="CommittedOperation">
            <wsdl:input message="wsat:Committed"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Committed"/>
        </wsdl:operation>
        <wsdl:operation name="AbortedOperation">
            <wsdl:input message="wsat:Aborted"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Aborted"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="CoordinatorPortType">
        <wsdl:operation name="PreparedOperation">
            <wsdl:input message="wsat:Prepared"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepared"/>
        </wsdl:operation>
        <wsdl:operation name="AbortedOperation">
            <wsdl:input message="wsat:Aborted"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Aborted"/>
        </wsdl:operation>
        <wsdl:operation name="ReadOnlyOperation">
            <wsdl:input message="wsat:ReadOnly"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/ReadOnly"/>
        </wsdl:operation>
        <wsdl:operation name="CommittedOperation">
            <wsdl:input message="wsat:Committed"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Committed"/>
        </wsdl:operation>
        <wsdl:operation name="ReplayOperation">
            <wsdl:input message="wsat:Replay"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Replay"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ParticipantPortType">
        <wsdl:operation name="PrepareOperation">
            <wsdl:input message="wsat:Prepare"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepare"/>
        </wsdl:operation>
        <wsdl:operation name="CommitOperation">
            <wsdl:input message="wsat:Commit"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Commit"/>
        </wsdl:operation>
        <wsdl:operation name="RollbackOperation">
            <wsdl:input message="wsat:Rollback"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Rollback"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="CompletionCoordinatorBinding" type="wsat:CompletionCoordinatorPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="CommitOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Commit"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RollbackOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Rollback"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CompletionInitiatorBinding" type="wsat:CompletionInitiatorPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="CommittedOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Committed"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="AbortedOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/completion/Aborted"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CoordinatorBinding" type="wsat:CoordinatorPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="PreparedOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepared"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="AbortedOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Aborted"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ReadOnlyOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/ReadOnly"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="CommittedOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Committed"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ReplayOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Replay"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ParticipantBinding" type="wsat:ParticipantPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/https" style="document"/>
        <wsdl:operation name="PrepareOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepare"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="CommitOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Commit"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RollbackOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Rollback"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WSATCoordinator">
        <wsdl:port binding="wsat:CompletionCoordinatorBinding" name="CompletionCoordinator">
            <soap:address location="https://localhost:8181/wstx-services/wsat/completion/coordinator"/>
        </wsdl:port>
        <wsdl:port binding="wsat:CoordinatorBinding" name="Coordinator">
            <soap:address location="https://localhost:8181/wstx-services/wsat/coordinator"/>
        </wsdl:port>
        <wsdl:port binding="wsat:ParticipantBinding" name="Participant">
            <soap:address location="https://localhost:8181/wstx-services/wsat/2pc"/>
        </wsdl:port>
        <wsdl:port binding="wsat:CompletionInitiatorBinding" name="CompletionInitiator">
            <soap:address location="https://localhost:8181/wstx-services/wsat/completion/initiator"/>
        </wsdl:port>
    </wsdl:service>
    <!--
        <wsdl:service name="TXInitiator">
            <wsdl:port binding="wsat:CompletionInitiatorBinding" name="CompletionInitiator">
                <soap:address location="http://localhost:8080/wstx-services/CompletionInitiator"/>
            </wsdl:port>
        </wsdl:service>
    -->

    <jaxws:bindings>
        <jaxws:package name="com.sun.xml.ws.tx.webservice.member.at"/>
    </jaxws:bindings>

</wsdl:definitions>
