wsit/samples/audiostream/AudioStreamPlayer/xml-resources/web-service-references/AudioStreamerService/wsdl/localhost_8080/AudioStreamProviderApp/AudioStreamerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><xs:schema xmlns:tns="http://provider/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://provider/">
<!--

    Copyright (c) 2010, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<xs:element name="getWavStream" type="tns:getWavStream" />

<xs:element name="getWavStreamResponse" type="tns:getWavStreamResponse" />

<xs:complexType name="getWavStream">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWavStreamResponse">
<xs:sequence>
<xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" name="return" ns1:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>
